* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body { 
    background-color: #caf0f850;
}
.container {
    flex: 1;
}
.navbar {
    display: flex;
    padding: 0 10px; 
    height: 70px;
    width: 100%;
    background-color: #219ebc;
}
#logo, #search-bar, #other-info {
    flex: 1;
}

#logo {
    display: flex;
    height: 100%;
}
#logo h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 10px;
    color: #023e8a;
}
#search {
    display: flex;  
    align-items: center; 
    width: 100%;
    margin-top: 2%;
}
#search-bar {
    display: flex !important;
    justify-content: center; /* Centers input and button */
    align-items: center;
    width: 100%;
    padding: 5px;
    z-index: 5;
}

#search input {
    flex: 1; 
    height: 45px;
    border: 1px solid #c9afd9;
    border-radius: 10px;
    background-color: #8ecae6;
    padding: 0 10px;
}

#search button {
    height: 45px;
    width: 80px;
    margin-left: 10px; 
    background-color: #0077b6;
    color: #ade8f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}
#search-bar input::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    color: #074eab;
}
#other-info {
    height: 100%;
    display: flex;
}
.navbar-below {
    height: 40px;
    width: 100%;
    background-color: #ade8f4;
    display: flex;
    justify-content: space-between;
}
.navbar-below p {
    color: #023047dd;
    font-size: 1.4rem;
    font-weight: bold;
    font-size: 2.1rem;
}
.main-content {
    height: 300px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    background: linear-gradient(to right, #0077b6, #90e0ef); 
    border: 2px solid #d7e3fc;
    border-radius: 10px;
}
#main-city-name {
    height: 65px;
    width: 100%;
    background-color: #0000008c;
    text-align: center;
    border: 0px solid 0000008c;
    border-radius: 4px;
}
#main-city h3 {
    font-size: 45px;
    margin-right: 60%;
    color: #d7e3fc;
}
#tmp {
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: #d7e3fc;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 0px;
}
#dscp {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #d7e3fc;
    margin-top: 0px;
    margin-left: 20px;
}
#quote {
    width: 70%;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 1.5rem;
    color: #03045e;
}
.footer {
    height: 250px;
    width: 100%;
    background-color: #caf0f840;
    padding: 10px;
    margin-top: auto;
}
#upperline {
    top: 0;
    margin-top: 0px;
    height: 2px;
    background-color: #cac6c6;
}
.footer-content {
    height: 180px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#about {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: #023047dd;
}
#contacts {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: #023047dd;
}
#tech-used {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    color: #023047dd;
}
ul {
    font-size: 1.1rem;
}
ul li {
    font-weight: bold;
    color: #023047dd;
}
#last-footer {
    height: 30px;
    text-align: center;
}
#last-footer p {
    font-weight: bold;
    font-size: 1.3rem;
}
